# LiveKit Cloud Credentials
# Получи их бесплатно на: https://cloud.livekit.io/

LIVEKIT_API_KEY=your_api_key_here
LIVEKIT_API_SECRET=your_api_secret_here
LIVEKIT_URL=wss://aura-oau79de6.livekit.cloud

# Server Port
PORT=3001